<div class="main-content">
  <div class="container-fluid">
    <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> {{ 'RECIPES.TITLE' | translate }}</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>{{ 'RECIPES.COLUMN_NAME' | translate }}</th>
                                  <th>{{ 'RECIPES.COLUMN_STYLE' | translate }}</th>
                                  <th>{{ 'RECIPES.COLUMN_TYPE' | translate }}</th>
                                  <th>{{ 'RECIPES.COLUMN_BATCH_SIZE' | translate }}</th>
                                  <th>{{ 'RECIPES.COLUMN_DATE' | translate }}</th>
                                  <th>{{ 'RECIPES.COLUMN_OPTION' | translate }}</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let row of recipes">
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.style.name }}</td>
                                    <td>{{ row.type }}</td>
                                    <td>{{ row.displayBatchSize }}</td>
                                    <td>{{ row.date }}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
